*{margin:0; padding:0}
body{
	font-family: sans-sarif Arial !important;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.container_full{
	width: 100%;
}
.container{
	width: 60%;
	margin: 0 20%;
}
.fix{
	overflow: hidden;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	line-height: 150%;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
	font-family: arial;
	font-weight: normal;
	margin-top: 15px; 
	margin-bottom: 15px;
}



.header_bg{
	background: #DFABF5;
	border-bottom: 2px solid #A21FA2;
}
#header{
	background: #DFABF5;
	padding-top: 10px;
}
#header .header_top{
	float: left;
}
#header .header_top h1{
	font-size: 40px;
	font-weight: normal;
	color: #A21FA2;
}
#header .header_top h1:hover{
	color: #ffffff;
}
#header .header_top h1 .simple{
	color: #ffffff;
}
#header .header_top h2{
	color: #ffffff;
	font-family: arial;
	font-weight: normal;
	font-size: 15px;
	margin-top: -15px;
}
#header .header_bottom{
	float: right;
	padding-top: 25px;
}
#header .header_bottom #menu{}
#header .header_bottom #menu li{
	float: left;
	margin-right: 10px;
	margin-bottom: 13px;
}
#header .header_bottom #menu li a{
	display: bloack;
	color: #ffffff;
	font-size: 13px;
	padding: 10px 35px;
}
#header .header_bottom #menu li a:hover{
	background: #A21FA2;
}
#header .header_bottom #menu .active a{
	background: #A21FA2;
}


.img{
	margin-top: 25px;
}
.img img{
	width: 99%;
	border: 4px solid #A21FA2;
}
.content_wrapper{
	width: 100%;
	margin-top: 15px;
}
.content_wrapper .content_left{
	width: 75%;
	margin-right: 3px;
	float: left;
}
.content_wrapper .content_left .single_article h1{
	font-family: arial;
	font-size: 20px;
	color: #A21FA2;
}
.content_wrapper .content_left .single_article p{
	font-weight: normal;
	font-size: 14px;
}
.content_wrapper .content_left .single_article p .sublink{
	color: #009FBC;
	text-decoration: underline;
}
.content_wrapper .content_left .single_article ul{
	margin-left: 20px;
}
.content_wrapper .content_left .single_article ul li{
	list-style-type: circle;
	color: #A21FA2;
	line-height: 2em;
}
.content_wrapper .content_left .single_article ul li a{}
.content_wrapper .sidebar{
	width: 23%;
	float: right;
}

.content_wrapper .single_aside{
	border: 1px solid #DFABF5;
	border-radius: 15px;
	padding: 10px 15px;
	margin-bottom: 15px;
}
.content_wrapper .single_aside h3{
	font-weight: normal;
	font-size: 20px;
	color: #A21FA2;
}
.content_wrapper .single_aside h2{
	font-size: 13px;
	color: #009FBC;
}
.content_wrapper .single_aside .simple_p{
	font-size: 14px;
    color: #888;
    margin-top: -12px;
}
.content_wrapper .single_aside p{
	font-size: 15px;
	text-align: justify;
}
.content_wrapper .single_aside .read_more{
	text-decoration: underline;
	color: #009FBC;
}































